@page
@model IndexModel
@{
    ViewData["Title"] = "Navigate Images";
}

<div class="demo-gallery text-center">
    <h1 class="display-4">Images of @(ViewData["path"])</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var item in (String[])ViewData["haha"])
    {
        <div>@item</div>
    }
</div>
