@page
@model IndexModel
@{
    ViewData["Title"] = "Navigate Images";
}

<div class="demo-gallery text-center">
    <h1 class="display-4">ZZVIEWER @(ViewData["path"])</h1>
    <p>View images in clusters from web browser!</p>
    @foreach (var item in (String[])ViewData["haha"])
    {
        <div>@item</div>
    }
</div>
